@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face
{
  font-family: 'Myriad Pro';
  src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_wrapper_form
{
    background-color: #e8e6eb;
    padding: 60px 260px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.content_title_form
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 37px 220px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.text_form
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 37px 220px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.button_light
{
    background: none;
    color: #0fa8ea;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
	vertical-align: middle;
}

.order_picture_wrapper
{
    display: inline-block;
	vertical-align: middle;
}

input[type="text"]
{
    width: 539px;
    line-height: 60px;
    border-radius: 30px;
    margin: 0 0 20px 220px;
    background: none;
    background-color: #ffffff;
	border: 1px solid #0fa8ea;
    padding: 0 0 0 87px;
    padding-left: 30px;
    font-family: 'Myriad Pro';
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

button[type="submit"]
{
    width: 575px;
    line-height: 60px;
    border-radius: 30px;
    margin: 0 0 0 220px;
    background: #0fa8ea;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

select
{
    width: 573px;
    height: 60px;
    border-radius: 30px;
    margin: 0 220px 20px 220px;
    background: none;
    background-color: #ffffff;
    border: 1px solid #0fa8ea;
    padding-left: 30px;
    font-family: 'Myriad Pro';
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    cursor: pointer;
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 29px center;
}

.checkbox-label
{
    vertical-align: middle;
    margin-bottom: 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 500;
}

input[name="sale"]
{
    appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #777777;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    margin: 13px 5px 10px 252px;
}

input[name="art"]
{
    appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #777777;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    margin: 13px 5px 10px 49px;
}

input[type="checkbox"]:checked
{
    background-color: #0fa8ea;
    border: 1px solid #0fa8ea;
    background-image: url('../images/checkbox-checked.png');
    background-position: center;
}

.bottom_menu
{
    text-align: center;
}